<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="first_project.recycle.repository.BoardImageMapper">

<!--    사진 등록-->
    <insert id="insertBoardImage" parameterType="first_project.recycle.domain.BoardImage">

    INSERT INTO board_image (board_id,
                             image_url,
                             sort_order
    )
    VALUES (
            #{boardId},
            #{imageUrl},
            #{sortOrder}
           )
    </insert>

    <!--상세 게시글 이미지 가져오기-->
    <select id="findByBoardId"
            resultType="first_project.recycle.domain.BoardImage">

        SELECT
            image_id,
            board_id,
            image_url,
            sort_order
        FROM board_image
        WHERE board_id = #{boardId}
        ORDER BY sort_order
    </select>

    <delete id="deleteByBoardId">

        DELETE FROM board_image
        WHERE board_id = #{boardId}
    </delete>
</mapper>