<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="first_project.recycle.repository.BoardMapper">

<!--    useGeneratedKeys : INSERT 후 DB가 만든 번호가 board.boardID에 자동으로 채워짐
        -> BoardImage 저장시 번호 필요
         -->
    <insert id="insertBoard"
            parameterType="first_project.recycle.domain.Board"
            useGeneratedKeys="true"
            keyProperty="boardId">

        INSERT INTO board (member_id,
                           board_type,
                           title,
                           content,
                           created_at,
                           updated_at
        )
        VALUES (
                #{memberId},
                #{boardType},
                #{title},
                #{content},
                NOW(),
                NOW()
            )
    </insert>
    <select id="findRecentBoards" resultType="first_project.recycle.dto.BoardListResponse">
        SELECT
            b.board_id,
            b.board_type,
            b.title,
            m.nickname,
            b.created_at
        FROM board b
        JOIN member m
            ON b.member_id = m.member_id
        ORDER BY b.created_at DESC,
                b.board_id DESC
        LIMIT 5




    </select>
    <select id="countBoards" resultType="int">
        SELECT COUNT(*)
        FROM board b
        JOIN member m
            ON b.member_id = m.member_id

        <where>


        <if test="boardType != null">
            AND b.board_type = #{boardType}
        </if>


        <if test="keyword != null and keyword != ''">

            <choose>

                <when test="searchType == 'WRITER'">
                    AND m.nickname LIKE CONCAT('%', #{keyword}, '%')
                </when>

                <when test="searchType == 'TITLE'">
                    AND b.title LIKE CONCAT('%', #{keyword}, '%')
                </when>

                <when test="searchType == 'CONTENT'">
                    AND b.content LIKE CONCAT('%', #{keyword}, '%')
                </when>

                <!-- 검색 타입이 없으면 제목 + 내용 -->
                <otherwise>
                    AND (
                        b.title LIKE CONCAT('%', #{keyword}, '%')
                        OR b.content LIKE CONCAT('%', #{keyword}, '%')
                    )
                </otherwise>
            </choose>
        </if>
        </where>
    </select>

    <select id="findBoards" resultType="first_project.recycle.dto.BoardListResponse">
            SELECT
                b.board_id,
                b.board_type,
                b.title,
                m.nickname,
                b.view_count,
                b.created_at,
                b.updated_at,
                COUNT(DISTINCT c.comment_id) AS comment_count,
                COUNT(DISTINCT bl.like_id) AS like_count

            FROM board b

            JOIN member m
                ON b.member_id = m.member_id

            LEFT JOIN comment c
                ON b.board_id = c.board_id

            LEFT JOIN board_like bl
                ON b.board_id = bl.board_id

            <where>


            <if test="boardType != null">
                AND  b.board_type = #{boardType}
            </if>


            <if test="keyword != null and keyword != ''">
               <choose>

                <when test="searchType == 'WRITER'">
                    AND m.nickname LIKE CONCAT('%', #{keyword}, '%')
                </when>

                <when test="searchType == 'TITLE'">
                    AND b.title LIKE CONCAT('%', #{keyword}, '%')
                </when>

                <when test="searchType == 'CONTENT'">
                    AND b.content LIKE CONCAT('%', #{keyword}, '%')
                </when>

                <otherwise>
                    AND (
                        b.title LIKE CONCAT('%', #{keyword}, '%')
                        OR b.content LIKE CONCAT('%', #{keyword}, '%')
                    )
                </otherwise>
               </choose>
            </if>
            </where>
            GROUP BY
                b.board_id,
                b.board_type,
                b.title,
                m.nickname,
                b.view_count,
                b.created_at,
                b.updated_at

            <choose>

                <!-- 조회수 많은 순 -->
            <when test="sort == 'view'">
                ORDER BY b.view_count DESC,
                         b.board_id DESC
            </when>

                <!-- 댓글 많은 순 -->
            <when test="sort == 'comment'">
                ORDER BY comment_count DESC,
                        b.board_id DESC
            </when>

            <!-- 좋아요 많은 순 -->
            <when test="sort == 'like'">
                ORDER BY like_count DESC,
                            b.board_id DESC
            </when>

            <!-- 기본 최신순 -->
            <otherwise>
                ORDER BY b.created_at DESC,
                        b.board_id DESC
            </otherwise>

            </choose>

            LIMIT #{size}
            OFFSET #{offset}

    </select>

    <select id="findById"
            resultType="first_project.recycle.dto.BoardDetailResponse">

        SELECT
            b.board_id,
            b.member_id,
            b.board_type,
            b.title,
            b.content,
            m.nickname,
            b.view_count,
            b.created_at,
            b.updated_at
        FROM board b
        JOIN member m
            ON b.member_id = m.member_id
        WHERE  b.board_id = #{boardId}
    </select>

    <update id="updateBoard">

        UPDATE board

        SET
            board_type = #{boardType},
            title = #{title},
            content = #{content},
            updated_at = NOW()

        WHERE board_id = #{boardId}
            AND member_id = #{memberId}
    </update>

    <delete id="deleteBoard">

        DELETE FROM board
        WHERE board_id = #{boardId}
            AND member_id = #{memberId}
    </delete>

    <update id="increaseViewCount">
        UPDATE board
        SET view_count = view_count + 1,
            updated_at = updated_at
        WHERE board_id = #{boardId}
    </update>

    <select id="findPreviousBoard"
            resultType="first_project.recycle.dto.BoardListResponse">

        SELECT
        b.board_id,
        b.title
        FROM board b
        WHERE b.board_id &lt; #{boardId}
        ORDER BY b.board_id DESC
        LIMIT 1

    </select>


    <select id="findNextBoard"
            resultType="first_project.recycle.dto.BoardListResponse">

        SELECT
            b.board_id,
            b.title
        FROM board b
        WHERE b.board_id > #{boardId}
        ORDER BY b.board_id
        LIMIT 1

    </select>
</mapper>