<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/CSS/home.css}">
    <link rel="stylesheet" th:href="@{/CSS/common.css}">
</head>

<body>

<th:block th:replace="~{fragments/common :: nav}">
</th:block>

<main>
    <!-- 검색 -->
    <div>
        <div class="hero-badge">
            ● 더 나은 지구를 위한 첫 걸음
        </div>

        <h1 class="hero-title">
            올바른 분리수거,<br>
            <strong>함께 시작해요</strong>
        </h1>

        <p class="hero-description">
            재활용품을 검색하고, 가까운 수거함을 찾고,<br>
            게임으로 분리배출을 쉽게 배워보세요.
        </p>
        <form th:action="@{/recycle/search}" method="get">
            <input
                    type="text"
                    name="keyword"
                    placeholder="재활용품을 입력하세요"
                    autocomplete="off">
            <button type="submit">검색</button>
        </form>
        <div class="quick-search">
            <span>자주 찾는 품목</span>

            <a th:href="@{/recycle/search(keyword='페트병')}">페트병</a>
            <a th:href="@{/recycle/search(keyword='스티로폼')}">스티로폼</a>
            <a th:href="@{/recycle/search(keyword='건전지')}">건전지</a>
            <a th:href="@{/recycle/search(keyword='계란 껍데기')}">계란 껍데기</a>
            <a th:href="@{/recycle/search(keyword='유리병')}">유리병</a>
        </div>

    </div>
    <br><br>
    <!-- 메인 콘텐츠 전체 -->
    <div >
        <!-- 에코맵 / 미니게임 -->
        <table width="800">
            <tr>
                <!-- 에코맵 -->
                <td width="400" >
                    <h3>
                        <a th:href="@{/eco-map}">
                            에코맵
                        </a>
                    </h3>
                    <a th:href="@{/eco-map}">
                        <img class="main-feature-image"
                             th:src="@{/images/eco-map.png}"
                             alt="에코맵">
                    </a>
                    <p>
                        주변 재활용 수거함을 찾아보세요.
                    </p>
                </td>
                <!-- 미니게임 -->
                <td width="400">
                    <h3>
                        <a th:href="@{/game}">
                            재활용게임
                        </a>
                    </h3>
                    <a th:href="@{/game}">
                        <img class="main-feature-image"
                             th:src="@{/images/mini-game.png}"
                             alt="미니게임">
                    </a>
                    <p>
                        Drag & Drop으로 분리배출을 배워보세요.
                    </p>
                </td>
            </tr>
        </table>
        <br><br>
        <!-- 커뮤니티 제목 -->
        <div style="
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
">
            <h3>
                <a th:href="@{/boards}">
                    커뮤니티
                </a>
            </h3>

            <a th:href="@{/boards}">
                더보기 &gt;
            </a>
        </div>


        <!-- 커뮤니티 -->
        <table style="
    width: 800px;
    table-layout: fixed;
    border-collapse: collapse;
">

            <!-- 컬럼 너비 고정 -->
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 50%;">
                <col style="width: 25%;">
                <col style="width: 15%;">
            </colgroup>

            <!-- 컬럼명 -->
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th class="text-center">작성자</th>
                <th class="text-center">작성일</th>
            </tr>
            </thead>

            <!-- 최신 게시글 -->
            <tbody>
            <tr th:each="board, stat : ${recentBoards}">

                <td th:text="${totalBoardCount - stat.index}">
                    1
                </td>

                <!-- 제목 -->
                <td style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        ">
                    <a th:href="@{/boards/{id}(id=${board.boardId})}"
                       th:text="${board.title}">
                        게시글 제목
                    </a>
                </td>

                <!-- 작성자 -->
                <td class="text-center"
                    th:text="${board.nickname}">
                    홍길동
                </td>

                <!-- 작성일 -->
                <td class="text-center"
                    th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}">
                    2026-08-24
                </td>

            </tr>
            </tbody>

        </table>
    </div>
</main>
<th:block th:replace="~{fragments/common :: footer}">
</th:block>

<script th:if="${message}">
    alert('[[${message}]]');
</script>
</body>
</html>