<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

<nav>
    <div>
        <a th:href="@{/}">Home</a>

        <div>
            <th:block>
                <a th:href="@{/login}">로그인</a>
                <a th:href="@{/signup}">회원가입</a>
            </th:block>

            <th:block>
                <a th:href="@{/mypage}">마이페이지</a>
                <a th:href="@{/logout}">로그아웃</a>
            </th:block>
        </div>
    </div>
</nav>

<main>
    <!-- 검색 -->
    <div>
        <form action="/recylce" method="get">
            <input
                    type="text"
                    name="keyword"
                    placeholder="재활용품을 입력하세요"
                    autocomplete="off">
            <button type="submit">검색</button>
        </form>
    </div>
    <br><br>
    <!-- 메인 콘텐츠 전체 -->
    <div >
        <!-- 에코맵 / 미니게임 -->
        <table width="800">
            <tr>
                <!-- 에코맵 -->
                <td width="400" >
                    <h3>
                        <a th:href="@{/eco-map}">
                            에코맵
                        </a>
                    </h3>
                    <a th:href="@{/eco-map}">
                        <img th:src="@{/images/eco-map.png}" alt="에코맵" width="300">
                    </a>
                    <p>
                        주변 재활용 수거함을 찾아보세요.
                    </p>
                </td>
                <!-- 미니게임 -->
                <td width="400">
                    <h3>
                        <a th:href="@{/game}">
                            재활용게임
                        </a>
                    </h3>
                    <a th:href="@{/game}">
                        <img th:src="@{/images/mini-game.png}" alt="미니게임" width="300">
                    </a>
                    <p>
                        Drag & Drop으로 분리배출을 배워보세요.
                    </p>
                </td>
            </tr>
        </table>
        <br><br>
        <!-- 커뮤니티 -->
        <table width="800">
            <!-- 커뮤니티 제목 -->
            <tr>
                <td colspan="3">
                    <h3>
                        <a th:href="@{/list}">
                            커뮤니티
                        </a>
                    </h3>
                </td>
            </tr>
            <!-- 컬럼명 -->
            <tr>
                <th width="80" >
                    번호
                </th>
                <th width="520" >
                    제목
                </th>
                <th width="200" >
                    작성자
                </th>
                <th width="200" >
                    작성일
                </th>
            </tr>
            <!-- 최신 게시글 -->
            <tr th:each="board : ${recentBoards}">
                <!-- 번호 -->
                <td th:text="${board.boardId}">
                    1
                </td>
                <!-- 제목 -->
                <td>
                    <a th:href="@{/board/{id}(id=${board.boardId})}"
                       th:text="${board.title}">
                        게시글 제목
                    </a>
                </td>
                <!-- 작성자 닉네임 -->
                <td align="center"
                    th:text="${board.nickname}">
                    홍길동
                </td>
                <!-- 작성일 -->
                <td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}">
                    2026-08-19
                </td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>